.container_big_right {
    max-width: 1536px;
    width: 91.3%;
    margin-left: auto;
}

.container_big_right2 {
    max-width: 1536px;
    width: 91.3%;
    margin-left: auto;
}


/* after__________container_big */

.location {
    background-color: #F4F4F4;
}

.location_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}

.location_div_left {
    height: 100%;
    width: 40%;
}


.location_div_right {
    height: 100%;
    width: 45%;
}

.location_div_right_map {
    width: 100%;
    height: 549px;
}

.location_div_left_1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    font-feature-settings: 'liga' off;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.location_div_left_2,
.location_div_left_3,
.location_div_left_4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-feature-settings: 'liga' off;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: gray !important;
}

.location_div_right_top,
.location_div_right_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location_div_right_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 31px 0;
}

@media only screen and (max-width:1333px) {

    .location_div_left_2,
    .location_div_left_3,
    .location_div_left_4 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        font-feature-settings: 'liga' off;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

@media only screen and (max-width:1071px) {

    .location_div_left_2,
    .location_div_left_3,
    .location_div_left_4 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 22px;
        font-feature-settings: 'liga' off;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

@media only screen and (max-width:966px) {
    .location_div {
        display: flex;
        flex-direction: column;
    }

    .location_div_right {
        height: 100%;
        width: 100%;
    }

    .container_big_right2 {
        max-width: 100%;
        width: 100%;
    }

    .container_big_right {
        max-width: 100%;
        width: 100%;
        max-width: 1440px;
    }

    .location_div_left {
        height: 100%;
        width: 100%;
    }

    .location_div_right_map {
        height: 260px;
        border: none !important;
    }

    .container_big_right {
        max-width: 1536px;
        width: 82.3%;
        margin: 0 auto;
    }

    .location_div_left_1 {
        text-align: center;
        font-size: 48px !important;
    }

    .location_div_left_2,
    .location_div_left_3,
    .location_div_left_4 {
        margin-left: 3%;
        font-size: 14px !important;
    }
}

@media only screen and (max-width:660px) {
    .location_div {
        display: flex;
        flex-direction: column;
    }

    .location_div_right {
        height: 100%;
        width: 100%;
    }

    .container_big_right2 {
        max-width: 100%;
        width: 100%;
    }

    .container_big_right {
        max-width: 100%;
        width: 100%;
    }

    .location_div_left {
        height: 100%;
        width: 100%;
    }

    .location_div_right_map {
        margin-left: -73px;
        width: 111%;
        height: 260px;
    }

    .location_div_left_1 {
        text-align: center;
        font-size: 42px !important;
    }

    .location_div_left_2,
    .location_div_left_3,
    .location_div_left_4 {
        margin-left: 3%;
        font-size: 14px !important;
    }
}

@media only screen and (max-width:660px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 112%;
        height: 260px;
    }

    .brands_div_left_1 {
        font-size: 28px;
        margin-bottom: -68px;
    }
}

@media only screen and (max-width:580px) {
    .brands_div_left_1 {
        line-height: 29px;
    }
}

@media only screen and (max-width:660px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 110% !important;
        height: 260px;
    }
}

@media only screen and (max-width:604px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 112%;
        height: 260px;
    }
}

@media only screen and (max-width:523px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 114%;
        height: 260px;
    }
}

@media only screen and (max-width:432px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 116%;
        height: 260px;
    }
}

@media only screen and (max-width:450px) {
    .location_div_left_2,
    .location_div_left_3,
    .location_div_left_4 {
        text-align: center !important;
    }
}


@media only screen and (max-width:391px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 113%;
        height: 260px;
    }

    .location_div_left_1 {
        font-size: 46px;
    }
}

@media only screen and (max-width:359px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 120%;
        height: 260px;
    }

    .location_div_left_1 {
        font-size: 44px;
    }

    .brands_div_left_1 {
        font-size: 31px;
        margin-bottom: -57px;
    }

    .location_div_left_1 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 41px;
        line-height: 58px;
        font-feature-settings: 'liga' off;
        color: #333333;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .location_div_left_2,
    .location_div_left_3,
    .location_div_left_4 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        font-feature-settings: 'liga' off;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .location_div_right_map {
        margin-left: -73px;
        width: 120%;
        height: 260px;
    }
}

@media only screen and (max-width:660px) {
    .location_div_right_map {
        margin-left: -73px;
        width: 115%;
        height: 260px;
    }
}

@media only screen and (max-width:530px) {
    .location_div_right_map {
        height: 260px !important;
        width: 100% !important;
        margin: 0 !important;
    }
}

@media only screen and (max-width:321px) {
    .location_div_left_1 {
        font-size: 28px !important;
    }
}

@media only screen and (max-width:480px) {
    .location_div {
        margin-bottom: 20px;
    }
}
